/* form style */


#contact {
  background: #333;
  background-size: cover;
}
#contact .section-title span {
  color: #fff;
}
#contact .contact-form .controls {
  padding: 10px;
}
.controls {
  padding: 10px;
}
#contact .form-style .controls input.contact_input {
  color: #000;
  background-color: #ffffff;
  float: left;
  border: 1px solid #0BAFA0;
  font-size: 14px;
  font-weight: 300;
  height: 48px;
  padding: 10px;
  width: 88%;
}
#contact .form-style .controls i {
  font-size: 18px;
  color: #0BAFA0;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  padding: 12px;
  text-align: center;
  border: 1px solid #0BAFA0;
  border-left: none;
}
#contact .form-style textarea {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #0BAFA0;
  width: 100%;
  padding: 2% 3%;
  height: 185px;
  border-radius: 0px;
}
#contact .form-style textarea:focus {
  box-shadow: none;
}
#contact .form-style .btn {
  color: #ffffff;
  font-weight: 300;
  margin-top: 30px;
  font-size: 24px;
  width: 100%;
  margin: 20px 0;
}

.form-style-heading{
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 3px;
}

.form-style label > span{
     font-weight: bold;
    float: left;
     }
.form-style span.required{
    color:red;
}

.form-style .input-field:focus,
.form-style .tel-number-field:focus,
.form-style .textarea-field:focus,  
.form-style .select-field:focus{
    border: 1px solid #0C0;
}


.form-style input[type="button"]:hover,
.form-style input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}
.form-style .success{
  background: #D8FFC0;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 5px 0px;
  border: none;
  font-weight: bold;
  color: #2E6800;
  border-left: 3px solid #2E6800;
}
.form-style .error {
  background: #FFE8E8;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 5px 0px;
  border: none;
  font-weight: bold;
  color: #FF0000;
  border-left: 3px solid #FF0000;
}