@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
a {
  color: #F74134;
  text-decoration: none;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: #ffffff;
}
a:focus {
  outline: none;
}
img {
  max-width: 100%;
}
.row {
  padding-bottom: 70px;
}
.tel-number-field{
    width: 40px;
    height: 48px;
    text-align: center;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  color: #0BAFA0;
  font-size: 50px;
  font-weight: 700;
  padding: 48px 20px;
}
.section-title span {
  color: #333;
}
::selection {
  background: #0BAFA0;
  color: #fff;
}
::-moz-selection {
  background: #0BAFA0;
  color: #fff;
}
#portfolio-items .mix {
  float: left;
  display: none;
}
.btn {
  cursor: pointer;
  padding: 10px 16px;
  display: inline-block;
  margin: 10px 20px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-border {
  border: 2px solid #0BAFA0;
  color: #0BAFA0;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}
.btn-border:hover,
.btn-border:active {
  color: #ffffff;
  background: #0BAFA0;
}
.btn-common {
  background: #0BAFA0;
}
.btn-common:hover {
  background: #585858;
}
#header .main-navigation {
  background: #ffffff;
  border-bottom: 2px solid #0BAFA0;
}
#header .navbar-brand {
  height: auto;
}
#header .nav {
  list-style: none;
  margin-top: 16px;
}
#header .nav li {
  margin: 0 0 0 24px;
}
#header .nav li a {
  text-transform: uppercase;
  padding: 5px 0;
  color: #0BAFA0;
  font-weight: 300;
  position: relative;
}
#header .nav li a:after {
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 2px solid #0BAFA0;
  width: 100%;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
#header .nav li.active a:after,
#header .nav li.active a,
#header .nav li a:hover::after,
#header .nav li a:hover,
#header .nav li a:focus {
  background: none;
  opacity: 1;
  color: #0BAFA0;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
#header .affix {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
#header .affix .navbar-brand {
  padding: 12px;
}
#header .affix .navbar-brand img {
  width: 80%;
}
#header .affix .nav {
  margin-top: 10px;
}
#intro {
  background: url("../img/background/bg-intro.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 67px;
}
#intro .overlay {
  background: url("../img/background/bg-overlay.png") rgba(0, 0, 0, 0.6) repeat;
}
#intro .main-text {
  margin: 202px 0px;
}
#intro .main-text h1 {
  font-weight: 700;
  font-size: 62px;
  color: #ffffff;
}
#intro .main-text h1 span {
  color: #0BAFA0;
}
#intro .main-text h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 60px;
}
#intro .main-text .btn {
  font-size: 20px;
  padding: 12px 30px;
  margin-top: 30px;
}
#services {
  background: #ffffff;
  padding-bottom: 50px;
}
#services .service-box {
  position: relative;
  border: 1px solid #0BAFA0;
  margin-bottom: 48px;
}
#services .content {
  color: #ffffff;
  text-align: center;
  background: #0BAFA0;
  border: 4px solid #ffffff;
  padding: 10px 14px;
}
#services .content h2 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
#services .content p {
  line-height: 22px;
  font-weight: 300;
}
#services .icon-wrapper {
  background: #ffffff;
  border-radius: 50%;
  height: 54px;
  left: -7px;
  padding: 3px;
  position: absolute;
  top: -30px;
  width: 54px;
}
#services .icon-wrapper i {
  background: #ffffff;
  color: #0BAFA0;
  border: 2px solid #0BAFA0;
  border-radius: 50%;
  font-size: 30px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 48px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#services .service-box:hover i {
  background: #0BAFA0;
  color: #fff;
}
#about {
  background: url('../img/background/bg-1.jpg') center center no-repeat;
  background-size: cover;
  color: #ffffff;
}
#about .section-title span {
  color: #fff;
}
#about .side-left {
  text-align: center;
}
#about .side-left img {
  border-radius: 4px;
  padding-bottom: 12px;
}
#about .side-left .info h4 {
  font-size: 22px;
  font-weight: 300;
  line-height: 12px;
}
#about .side-left .info p {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1.1px;
  position: relative;
}
#about .side-left .info p:after {
  background: #ffffff;
  content: "";
  height: 5px;
  left: 32%;
  position: absolute;
  top: 125%;
  width: 34%;
}
#about .side-right p {
  padding: 0px 20px;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}
#about .owl-theme .owl-controls .owl-page span {
  background: none;
  display: none;
}
#portfolio .controls {
  text-align: center;
  margin-bottom: 20px;
}
#portfolio .controls .btn {
  margin: 10px 5px;
  text-transform: uppercase;
  font-weight: 300;
}
#portfolio .portfolio-items .mix {
  width: 24%;
  overflow: hidden;
}
#portfolio .portfolio-items figure {
  background: #ffffff;
  float: left;
  margin: 5px;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid #F3F3F3;
  position: relative;
}
#portfolio .portfolio-items figure .img {
  position: relative;
}
#portfolio .portfolio-items figure .img img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
#portfolio .portfolio-items figure .img .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}
#portfolio .portfolio-items figure .img a {
  background: #ffffff;
  font-size: 22px;
  padding: 8px 14px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
#portfolio .portfolio-items figure .img .link-left {
  left: -22%;
  top: 45%;
  margin: 0 auto;
}
#portfolio .portfolio-items figure .img .link-right {
  right: -22%;
  top: 45%;
  margin: 0 auto;
}
#portfolio .portfolio-items figure:hover .overlay {
  opacity: 1;
}
#portfolio .portfolio-items figure:hover a.link-left {
  left: 30%;
  opacity: 1;
  color: #008A7D;
}
#portfolio .portfolio-items figure:hover a.link-right {
  right: 30%;
  opacity: 1;
  color: #008A7D;
}
#portfolio .portfolio-items .item-description {
  padding: 4px 12px;
  text-align: center;
  background-color: #0BAFA0;
  border-top: 3px solid #45EFDF;
  border-bottom: 6px solid #008A7D;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}
#portfolio .portfolio-items .item-description:after {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0px 22px 22px;
  top: -25px;
  content: "";
  display: block;
  left: 50%;
  margin-left: -24px;
  position: absolute;
  width: 25px;
  z-index: 22;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#portfolio .portfolio-items .item-description h4 {
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#portfolio .portfolio-items .item-description p {
  color: #FEF2F6;
  font-weight: 300;
  line-height: 22px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#portfolio .portfolio-items figure:hover .item-description {
  background: #ffffff;
  border-bottom: 6px solid #ffffff;
  border-top: 3px solid #ffffff;
}
#portfolio .portfolio-items figure:hover .item-description:after {
  opacity: 1;
}
#portfolio .portfolio-items figure:hover h4,
#portfolio .portfolio-items figure:hover p {
  color: #008A7D;
}
#why-chose {
  background: url('../img/background/bg-2.jpg') center center no-repeat;
  color: #fff;
  background-size: cover;
  overflow: hidden;
}
#why-chose .section-title span {
  color: #fff;
}
#why-chose .showcase-box img {
  position: relative;
  top: 86px;
}
#why-chose .content-left,
#why-chose .content-right {
  position: relative;
}
#why-chose .icon {
  float: right;
  width: 50px;
  height: 50px;
  border: 2px solid #0BAFA0;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#why-chose .icon i {
  font-size: 28px;
  line-height: 48px;
  color: #0BAFA0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#why-chose .box-left:hover .icon,
#why-chose .box-right:hover .icon {
  background-color: #0BAFA0;
}
#why-chose .box-left:hover .icon i,
#why-chose .box-right:hover .icon i {
  color: #fff;
}
#why-chose .content-left .box-left .content {
  padding-right: 72px;
}
#why-chose .content-left .box-left .content h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}
#why-chose .content-left .box-left .content p {
  text-align: right;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}
#why-chose .content-left .box-left:hover .icon {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#why-chose .content-right .icon {
  float: left;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#why-chose .content-right .box-right .content {
  text-align: left;
  padding-left: 72px;
}
#why-chose .content-right .box-right h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
#why-chose .content-right .box-right p {
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}
#why-chose .content-right .box-right:hover .icon {
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#pricing {
  width: 100%;
  background: #EEE;
}
#pricing .table {
  display: block;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: -10px -10px 0 #585858;
  margin: 50px 0;
}
#pricing .pricing-header {
  background: #0BAFA0;
  height: 120px;
  padding: 10px 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#pricing .pricing-header .price-quality {
  font-size: 30px;
  color: #ffffff;
  padding: 24px 0;
  text-transform: uppercase;
}
#pricing .table:hover .pricing-header {
  background: #585858;
}
#pricing .price {
  height: 75px;
  background: #ffffff;
  position: relative;
}
#pricing .price-value {
  font-size: 30px;
  color: #ffffff;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  line-height: 80px;
  text-align: center;
  position: absolute;
  left: 34%;
  top: -45px;
  border: 4px solid #ffffff;
  background: #0BAFA0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#pricing .table:hover .price-value {
  background: #585858;
}
#pricing .pricing-list {
  background: #ffffff;
  padding: 0 16px;
  color: #0BAFA0;
  padding-bottom: 30px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#pricing .pricing-list ul li {
  text-align: center;
  border-top: 1px dotted #676767;
  line-height: 50px;
  font-size: 18px;
}
#pricing .pricing-list ul li:last-child {
  border-bottom: 1px dotted #676767;
}
#pricing .table:hover .pricing-list {
  color: #585858;
}
#pricing .btn {
  position: absolute;
  left: 28%;
  bottom: 3%;
  color: #fff;
}
#pricing .table:hover .btn-common {
  background: #585858;
  borde: 1px solid #585858;
}
#blog {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #e3e3e3;
}
#blog .carousel-control {
  background-image: none;
  height: 50px;
  top: 45%;
  width: 50px;
}
#blog .carousel-control i {
  height: 50px;
  padding: 15px;
  width: 50px;
  background-color: #008A7D;
}
#blog .blog-wrapper {
  width: 100%px;
  padding: 0px 12px;
  overflow: hidden;
}
#blog .blog-wrapper img {
  width: 370px;
  overflow: hidden;
}
#blog .blog-wrapper .video {
  width: 100%;
  height: 268px;
}
#blog .blog-wrapper .content {
  width: 100%;
  background: #0BAFA0;
  padding: 12px 20px;
  border-top: 6px solid #45EFDF;
  padding-bottom: 36px;
}
#blog .blog-wrapper .content h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}
#blog .blog-wrapper .content p {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
}
#blog .blog-wrapper .content .redmore {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  float: right;
  text-decoration: none;
}
#blog .blog-wrapper .content .redmore:hover {
  color: #e3e3e3;
}
#blog .blog-wrapper .blog-footer {
  background: #008A7D;
  padding: 20px 20px;
  color: #ffffff;
  width: 100%;
  height: 60px;
}
#blog .blog-wrapper .blog-footer p {
  float: left;
}
#blog .blog-wrapper .blog-footer span {
  float: right;
}
#blog .blog-wrapper .blog-footer span i {
  padding-right: 10px;
}
#blog .owl-theme .owl-controls {
  position: absolute;
  top: -60px;
  padding-bottom: 50px;
  right: 30px;
}
#blog .owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #0BAFA0;
  font-size: 28px;
  display: inline-block;
}
#team {
  background: #fff;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}
#team .item-square {
  margin-bottom: 42px;
}
#team .item-square .face {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
#team .item-square .face .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#team .content {
  width: 100%;
  background-color: #181818;
  overflow: hidden;
}
#team .content .title {
  background-color: #0BAFA0;
  width: 100%;
  padding: 10px 0;
}
#team .content .title h3 {
  font-size: 34px;
  font-weight: 300;
  line-height: 22px;
}
#team .content .title p {
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  text-transform: uppercase;
}
#team .content .text {
  padding: 26px 24px;
}
#team .content .text p {
  font-weight: 300;
  line-height: 22px;
}
#team .social-icons {
  background-color: #323232;
  width: 100%;
  height: 48px;
}
#team .social-icons ul {
  margin: 5px;
  padding: 0;
}
#team .social-icons ul li {
  display: inline-block;
}
#team .social-icons ul li a {
  text-decoration: none;
}
#team .social-icons ul li a i {
  display: block;
  font-size: 18px;
  color: #0BAFA0;
  width: 48px;
  text-align: center;
  height: 48px;
  line-height: 48px;
}
#team .social-icons ul li a i:hover {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #ffffff;
}
#team .social-icons .fa-twitter:hover {
  background: #00aced;
}
#team .social-icons .fa-facebook:hover {
  background: #3b5998;
}
#team .social-icons .fa-google-plus:hover {
  background: #dd4b39;
}
#team .social-icons .fa-youtube:hover {
  background: #CC181E;
}
#testimonial {
  background: url('../img/background/bg-2.jpg') center center no-repeat;
  background-size: cover;
}
#testimonial .testimonial {
  margin-left: 16px;
  margin-right: 16px;
  border: 2px solid #0BAFA0;
}
#testimonial .testimonial-text {
  padding: 20px;
  padding-bottom: 46px;
}
#testimonial .testimonial-text i {
  font-size: 34px;
  color: #0BAFA0;
}
#testimonial .testimonial-text p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  padding: 0 22px;
}
#testimonial .testimonial-info {
  width: 100%;
  background-color: #0BAFA0;
  border-bottom: 6px solid #008A7D;
  height: 67px;
  position: relative;
}
#testimonial .testimonial-info img {
  position: absolute;
  top: -35px;
  left: 70px;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  border: 4px solid #0BAFA0;
}
#testimonial .testimonial-info p {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  padding: 18px 0;
  text-align: center;
}
#testimonial .owl-theme .owl-controls .owl-page span {
  width: 50px;
  height: 10px;
  background: #0BAFA0;
  margin: 20px 8px;
}
#contact {
  background: #333;
  background-size: cover;
}
#contact .section-title span {
  color: #fff;
}
#contact .contact-form .controls {
  padding-bottom: 20px;
}
#contact .contact-form .controls input.contact_input {
  color: #000;
  background-color: #ffffff;
  float: left;
  border: 1px solid #0BAFA0;
  font-size: 14px;
  font-weight: 300;
  height: 48px;
  padding: 0 12px;
  width: 88%;
}
#contact .contact-form .controls i {
  font-size: 18px;
  color: #0BAFA0;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  padding: 12px;
  text-align: center;
  border: 1px solid #0BAFA0;
  border-left: none;
}
#contact .contact-form textarea {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #0BAFA0;
  width: 100%;
  padding: 2% 3%;
  height: 185px;
  border-radius: 0px;
}
#contact .contact-form textarea:focus {
  box-shadow: none;
}
#contact .contact-form .btn {
  color: #ffffff;
  font-weight: 300;
  margin-top: 30px;
  font-size: 24px;
  width: 100%;
  margin: 20px 0;
}
#clients {
  background-color: #fff;
  width: 100%;
  height: 98px;
  padding: 24px;
}
#connected {
  background-color: #0BAFA0;
  width: 100%;
  color: #ffffff;
  text-align: center;
}
#connected .section-title {
  color: #ffffff;
}
#connected .discription {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  position: relative;
}
#connected hr {
  width: 200px;
  text-align: center;
}
#connected .contact-item {
  margin-top: 48px;
}
#connected .contact-item a {
  padding-bottom: 12px;
}
#connected .contact-item a i {
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 16px;
}
#connected .contact-item h5 {
  color: #FDF2F0;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}
#connected .contact-item h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}
#footer {
  background-color: #0BAFA0;
  width: 100%;
}
#footer .copyright {
  border-top: 1px solid #ffffff;
  padding: 14px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}
#footer .copyright a {
  color: #fff;
  text-decoration: none;
}
#footer .copyright a:hover {
  color: #34495E;
}
.scroll-top {
  right: 30px;
  bottom: 30px;
  background: #000;
  border-radius: 4px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  z-index: 9999;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.scroll-top i {
  padding: 0px 10px;
  font-size: 36px;
  color: #fff;
}
.scroll-top i:hover {
  color: #0bafa0;
}
#settings-panel {
  position: fixed;
  top: 172px;
  right: -158px;
  border-right: none;
  background: #fff;
  padding: 10px;
  text-align: center;
  z-index: 99;
}
#panel-opener {
  position: absolute;
  font-size: 1.4em;
  line-height: 1.6em;
  top: 10px;
  left: -40px;
  background: #fff;
  width: 40px;
  height: 40px;
  color: #0BAFA0;
  line-height: 40px;
  cursor: pointer;
}
#panel-opener:hover {
  color: #1a88c4;
}
.color-container {
  width: 138px;
  margin-bottom: -8px;
  float: left;
}
.color-container .color {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 4px 0 0;
}
.color-container .color-1 {
  background: #0BAFA0;
}
.color-container .color-2 {
  background: #3498db;
}
.color-container .color-3 {
  background: #e74c3c;
}
.color-container .color-4 {
  background: #34495e;
}
